# Local executor/cache folders
vapetweaker/

# Private/dev scripts (DO NOT PUSH)
tools/
crackedshitscripts/

# Local profile/runtime files
profiles/commit.txt
profiles/gui.txt

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
